.full-calculator-body {
    margin: auto;
    width: 50%;
    margin-top: 150px;
    transform: scale(1.6);
}
.head {
    border: solid;
    border-color: rgb(94, 85, 85);
    margin: auto;
    width: 225px;
    height: 75px;
    border-bottom: 0ch; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(131, 131, 131);
}
.screen {
    overflow: scroll;
    border: solid;
    border-color: rgb(78, 70, 70);
    margin: auto;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 215px;
    height: 55px;
    margin-top: 3px;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    background-color: rgb(238, 236, 236);
}
.calculator {
    display: grid;
    margin: auto;
    width: 225px;
    height: 235px;
    border: solid;
    border-color: rgb(78, 70, 70);
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(131, 131, 131);
}
.number-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 200px;
    gap: 2px;
    padding: 5px;
    background-color: rgb(131, 131, 131);
}
.plus:active {
    color: aqua;
}
.top-buttons {
    display: flex;
    justify-content:space-around;
    width: 225px;
    height: 25px;
}
.AC, .del {
    width: 100px;
    background-color: rgb(248, 171, 4);
}
.title {
    display: flex;
    justify-content: center;
    padding-top: 180px;
    font-family: 'Courier New', Courier, monospace;
}
img {
    margin-left: 10px;
    margin-top: -6px;
}

